In [1]:
import pandas as pd
import json

In [2]:
df=pd.read_csv('../datasets/clean_dataset.csv')
df.head()

,Unnamed: 0,Company,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price,ssd,hdd,flash,hybrid,Resolution,PPI
0,0,Apple,Ultrabook,13.3,Intel,8.0,Intel Iris Plus,macOS,1.37,71378.6832,128,0,0,0,2560x1600,226.98
1,1,Apple,Ultrabook,13.3,Intel,8.0,Intel HD,macOS,1.34,47895.5232,0,0,128,0,1440x900,127.68
2,2,HP,Notebook,15.6,Intel,8.0,Intel HD,No OS,1.86,30636.0000,256,0,0,0,1920x1080,141.21
3,3,Apple,Ultrabook,15.4,Intel,16.0,AMD Radeon,macOS,1.83,135195.3360,512,0,0,0,2880x1800,220.53
4,4,Apple,Ultrabook,13.3,Intel,8.0,Intel Iris Plus,macOS,1.37,96095.8080,256,0,0,0,2560x1600,226.98

In [3]:
df=df.drop(columns=['Unnamed: 0'],axis=1)

In [4]:
df.head(2)

,Company,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price,ssd,hdd,flash,hybrid,Resolution,PPI
0,Apple,Ultrabook,13.3,Intel,8.0,Intel Iris Plus,macOS,1.37,71378.6832,128,0,0,0,2560x1600,226.98
1,Apple,Ultrabook,13.3,Intel,8.0,Intel HD,macOS,1.34,47895.5232,0,0,128,0,1440x900,127.68

In [13]:
data=dict()

<h1>Category Features</h1>

In [29]:
for col in df.select_dtypes(include='object').columns:
    global data
    print('='*20)
    print(f'{col}')
    print(df[col].unique())
    data[col]=df[col].value_counts().index.to_list()

====================
Company
['Apple' 'HP' 'Acer' 'Asus' 'Dell' 'Lenovo' 'Chuwi' 'MSI' 'Microsoft'
 'Toshiba' 'Huawei' 'Xiaomi' 'Vero' 'Mediacom' 'Samsung' 'Google'
 'Fujitsu' 'Razer' 'LG']
====================
TypeName
['Ultrabook' 'Notebook' 'Netbook' 'Gaming' '2 in 1 Convertible'
 'Workstation']
====================
Cpu
['Intel' 'AMD' 'Samsung']
====================
Gpu
['Intel Iris Plus' 'Intel HD' 'AMD Radeon' 'AMD' 'Intel Iris' 'Nvidia'
 'Intel UHD' 'Nvidia GeForce' 'Intel' 'Nvidia GeForce GTX' 'Nvidia GTX'
 nan 'AMD FirePro' 'Intel HD Graphics' 'ARM Mali']
====================
OpSys
['macOS' 'No OS' 'Windows 10' 'Mac OS X' 'Linux' 'Android' 'Windows 10 S'
 'Chrome OS' 'Windows 7']
====================
Resolution
['2560x1600' '1440x900' '1920x1080' '2880x1800' '1366x768' '2304x1440'
 '3200x1800' '1920x1200' '2256x1504' '2160x1440' '3840x2160' '2560x1440'
 '1600x900' '2736x1824' '2400x1600']

In [19]:
df.select_dtypes(exclude='object')

      Inches   Ram  Weight        Price  ssd   hdd  flash  hybrid     PPI
0       13.3   8.0    1.37   71378.6832  128     0      0       0  226.98
1       13.3   8.0    1.34   47895.5232    0     0    128       0  127.68
2       15.6   8.0    1.86   30636.0000  256     0      0       0  141.21
3       15.4  16.0    1.83  135195.3360  512     0      0       0  220.53
4       13.3   8.0    1.37   96095.8080  256     0      0       0  226.98
...      ...   ...     ...          ...  ...   ...    ...     ...     ...
1278    14.0   4.0    1.80   33992.6400  128     0      0       0  157.35
1279    13.3  16.0    1.30   79866.7200  512     0      0       0  276.05
1280    14.0   2.0    1.50   12201.1200    0     0     64       0  111.94
1281    15.6   6.0    2.19   40705.9200    0  1024      0       0  100.45
1282    15.6   4.0    2.20   19660.3200    0   500      0       0  100.45

[1283 rows x 9 columns]

In [24]:
numerical_category=['Inches','Ram','ssd','hdd','flash','hybrid']
for col in numerical_category:
    global data
    print('='*20)
    print(f'{col}')
    print(df[col].unique())
    data[col]=df[col].value_counts().index.to_list()

====================
Inches
[13.3 15.6 15.4 14.  12.  11.6 17.3 10.1 13.5 13.  18.4 13.9 12.5 12.3
 17.  15.  14.1 11.3]
====================
Ram
[ 8. 16.  4.  2. 12.  6. 32. 24.]
====================
ssd
[ 128    0  256  512   32   64 1024   16  768  180    8]
====================
hdd
[   0  500 1024 2048   32  128]
====================
flash
[  0 128 256  32  64  16 512]
====================
hybrid
[   0 1024  508]

In [28]:
df[['Weight','PPI']].describe()

            Weight          PPI
count  1283.000000  1283.000000
mean      2.039369   144.505931
std       0.656504    38.556379
min       0.690000    90.580000
25%       1.500000   127.340000
50%       2.040000   141.210000
75%       2.300000   157.350000
max       4.600000   282.420000